.adm-view_label {
    &:after{
        content: "";
        background-color: var(--text);
        position: absolute;
        left: 50%;
        top: 10%;
        border-right: 2px white solid;
        height: 80%;
        width: 2px;
    }
}


.no-more-label {
    margin: calc(var(--spacing) * 8) auto;
    border-radius: 12px;
    text-transform: full-width;
    border: 4px solid var(--primary);
    font-size: var(--text-xl);
    padding: calc(var(--spacing)) calc(var(--spacing) * 4);
}

textarea.no-resize {
    justify-self: center;
    resize: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 8px;
    &:focus, &:focus-visible {
        outline: none;
    }
    &:hover, &:focus {
        background-color: rgba(255, 255, 255, 0.19);

    }
}


@media screen and (max-width: 500px) {
    html.adm {
        overflow-x: scroll;
        min-width: 100dvw;
        width: fit-content;
        height: 100dvh;
    }

    body.adm {
        /*overflow-x: scroll;*/
        /*min-width: 100dvw;*/
        /*width: fit-content;*/
    }
}

