#history_table {
    border-collapse: collapse;
}

.hiddenFromBottom {
    animation: hideFromBottomAnimation ease-out .3s forwards;
    /*animation: hideFromBottomAnimation ease-out .3s reverse backwards;*/
}

.showFromTop {
    display: table-row;
    width: 100%;
    animation: showFromTopAnimation ease-out .3s forwards;
}

@keyframes showFromTopAnimation {
    from {
        display: none;
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform:  translateY(0);
        opacity: 1;
    }
}


@keyframes hideFromBottomAnimation {
    from {
        transform:  translateY(0);
        opacity: 1;
    }
    to {
        display: none;
        transform: translateY(-10px);
        opacity: 0;
    }
}
