/*TOP 3 colors*/
tbody#leaderboard_t_body tr:nth-child(1) {
    background: linear-gradient(90deg, #ffd700, #ffea8a);
    color: #111;
    font-weight: bold;
}

tbody#leaderboard_t_body tr:nth-child(2) {
    background: linear-gradient(90deg, #c0c0c0, #dcdcdc);
    color: #111;
    font-weight: bold;
}

tbody#leaderboard_t_body tr:nth-child(3) {
    background: linear-gradient(90deg, #cd7f32, #e6b98c);
    color: #111;
    font-weight: bold;
}



tbody tr:hover, .tr_focus{
    transform: scale(105%);
    cursor: pointer;
}

tbody tr:hover td,
.tr_focus td {
    transform: scale(1.05);
    transition: transform 0.2s ease;
    cursor: pointer;
    border-bottom: 1px solid #e5e7eb;
}

tbody tr:hover td, tr.tr_focus td {
    border-bottom: none;
}


