.hint-box {
    @apply flex-1 p-2 text-center  hover:bg-hint-hover dark:hover:bg-hint-hover;
}

.answer {
    @apply  bg-question py-1 px-3 rounded-lg text-xl font-roboto border-2 cursor-pointer block text-start w-full;
}

.answer.removed {
    @apply cursor-auto opacity-65 border-red-600 text-red-500;
}

.answer.removed .answer-letter {
    @apply text-red-600;
}

.answer-letter {
    @apply mr-4 text-highlight bg-hint border border-question-border rounded-full w-8 h-8 inline-flex
        justify-center items-center text-white ;
}

.answer-letter-selected {
    @apply bg-blue-900 dark:bg-question text-highlight;
}



/* ANIMATIONS */

.bg-flash-green {
    animation: flash-green 2.5s ease-in-out forwards;
}
.bg-flash-red {
    animation: flash-red 2.5s ease-in-out forwards;
}
.bg-flash-gold {
    animation: flash-gold 2.5s ease-in-out forwards;
}


@keyframes flash-green {
    0% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    10% {
        background: var(--success);
    }
    20% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    30% {
        background: var(--success);
    }
    40% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    50% {
        background: var(--success);
    }
    60% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    70% {
        background: var(--success);
    }
    80% {
        /*background: var(--success);*/
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    90% {
        background: var(--success);
    }
    100% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
}

@keyframes flash-red {
    0% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    10% {
        background: var(--error);
    }
    20% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    30% {
        background: var(--error);
    }
    40% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    50% {
        background: var(--error);
    }
    60% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    70% {
        background: var(--error);
    }
    80% {
        /*background: var(--error);*/
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    90% {
        background: var(--error);
    }
    100% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
}


@keyframes flash-gold {
    0% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    10% {
        background: var(--flash-yellow);
    }
    20% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    30% {
        background: var(--flash-yellow);
    }
    40% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    50% {
        background: var(--flash-yellow);
    }
    60% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    70% {
        background: var(--flash-yellow);
    }
    80% {
        /*background: var(--flash-yellow);*/
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
    90% {
        background: var(--flash-yellow);
    }
    100% {
        background: linear-gradient(135deg, var(--back), var(--back-secondary)) no-repeat;
    }
}
