@import "tailwindcss";

@theme {
  --color-back: var(--back);
  --color-text: var(--text);
  --color-secondary: var(--secondary);
  --color-highlight: var(--highlight);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-gold: var(--gold);
  --color-foreground: var(--foreground);
  --color-form-btn: #0057FF;

  /*font*/
  --color-primary-foreground: var(--primary-foreground);

  --font-oswald: var(--font-oswald);
  --font-merriweather: var(--font-merriweather);
  --font-roboto: var(--font-roboto);
}

:root {
  --primary-foreground: #DDD;
  --back: #e3f2fd;
  --highlight: #2196f3;
  --primary: #0d47a1;
  --darker-primary: #0F187D;
  --secondary: #bbdefb;
  --text: #0a0a23;
  --foreground: #DDD;
  --success: #4caf50;
  --error: #f44336;
  /*--gold: #d4af37;*/
  --gold: #ffd700;
}

.dark {
  --back: #0a0a23;
  --highlight: #64b5f6;
  /*--primary: #1a237e; mais fraco*/
  --primary: #0F187D;
  --secondary: #0d47a1;
  --text: #ffffff;
  --success: #00e676;
  --error: #ff5252;
  --gold: #ffd700;
}

/* dourado, success e erro bom */
/* * O dourado é bem bonito, dinheiro*/
/* :root {
    --highlight: #d4af37;
  --primary: #ffffff;
    --secondary: #e6e6e6;
    --text: #111;
    --back: #f7f7f7;
    --success: #4caf50;
    --error: #f44336;
  }

  .dark {
    --highlight: #ffd700;
    --primary: #1e1e1e;
    --secondary: #2c2c2c;
    --text: #f1f1f1;
    --back: #121212;
    --success: #00ff00;
    --error: #ff3333;
  } */
