@import "tailwindcss";

@theme {
    --color-back: var(--back);
    --color-text: var(--text);
    --color-secondary: var(--secondary);
    --color-highlight: var(--highlight);
    --color-success: var(--success);
    --color-error: var(--error);
    --color-gold: var(--gold);
    --color-foreground: var(--foreground);
    --color-form-btn: #0057FF;
    --color-primary-foreground: var(--primary-foreground);
    --color-hint: var(--hint);
    --color-hint-hover: var(--hint-hover);
    --color-question: var(--question);
    --color-question-border: var(--question-border);
    /*NO VARIATION*/
    --color-bar: #00E676;


    /*font*/
    --font-oswald: var(--font-oswald);
    --font-merriweather: var(--font-merriweather);
    --font-roboto: var(--font-roboto);

/*    Sizes*/
    --spacing-max_w_question: 500px;
    --spacing-max_w: var(--max_w);
    --spacing-header-height: var(--header-height);
}

:root {
    --primary-foreground: #222;
    --back: #e3f2fd;
    --back-secondary: #cfe0f5;
    --back-tertiary: #f5fbff;
    --back-quaternary: #dcedf9;

    --semi-muted: #0a0a23;
    --highlight: #2196f3;
    --primary: #0d47a1;
    --darker-primary: #0F187D;
    --secondary: #bbdefb;
    --text: #0a0a23;
    --foreground: #DDD;
    --success: #4caf50;
    --error: #f44336;
    --gold: #d3ab26;

    /*  Questions*/
    /*--hint: #091836;*/
    --hint: #c5e1f7;
    --hint-hover: #99caf1;
    --question: #42a5f5;       /* Azul vibrante */
    --question-border: #0F356D;

/*    SIZES*/
    --header-height: 86px;
    --max_w: 1200px;
}

.dark {
    /*--primary-foreground: #DDD;*/
    --primary-foreground: #fff;
    --back: #0a0a23;
    --back-secondary: #040450;

    /* --back-secondary: #151538;     Azul bem escuro puxando pro roxo */
    --back-tertiary: #1f1f3a; /* Azul-noite desaturado */
    --back-quaternary: #2c2c4c;
    --highlight: #64b5f6;
    --primary: #0F187D;
    --secondary: #0d47a1;
    --text: #ffffff;
    --success: #036b17;
    /*--success: #00e676;*/
    /*--error: #ff5252;*/
    --error: #880404;
    --gold: #ffd700;

    /*  Questions*/
    --hint: #0A1C3F;
    /*--hint: #091836;*/
    --hint-hover: #091836;
    --question: #0b224f;
    --question-border: #0F356D;
}
