@import "tailwindcss";

.home-card {
    @apply bg-primary/40 p-4 rounded-xl shadow-xl shadow-black/30;
}

.skeleton-home-card {
    @apply bg-highlight/80 p-4 rounded-xl shadow-xl shadow-black/30 h-[92px];
}

.home-box-title {
    @apply text-primary-foreground/80 text-xl
}

.home-box-value {
    @apply text-highlight font-black
}

.home-action-area-container {
    display: flex;
    flex-direction: column;
}


.home-historic-area-container {
    position: relative;
    margin-top: 56px;

    &::before {
        content: "";
        position: absolute;
        top: -16px;
        left: 0;

        display: block;
        height: 2px;
        width: 100%;
        background-color: var(--primary-foreground);
    }
}

@media (min-width: 1024px) {
    .home-action-large {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .home-historic-area-container {
        margin-top: 0;
        grid-column-start: 2;
        grid-row-start: 1;
        height: 100%;
        padding: 0 calc(var(--spacing) * 8);

        &::before { content: none; }
        &::after {
            content: "";
            position: absolute;
            bottom: 3rem;
            margin: 0 calc(var(--spacing) * 8);
            left: 0;
            right: 0;
            height: 50px;
            border-radius: 8px 8px 0 0;
            background: linear-gradient(to bottom, transparent, var(--back));
            /*background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));*/
        }
    }

    .home-action-area-container {
        grid-column-start: 3;
    }

}


/*   /  */
.landSection > h2 {
    @apply text-3xl font-bold mt-12 text-start
}

.landSection > p, .landSection li {
    @apply font-oswald text-start opacity-85
}


#pyramid-img {
    box-shadow: 6px 4px 10px rgba(0, 16, 49, 0.452);
}

.drop-area-container {
    transition-property: height;
    transition-duration: 2s;
}

.game-instructions:last-child div {
    border: 3px solid red;
    border-radius: 0 0 12px 12px;
}

.drop-area-full {
    height: fit-content
}

#img-shadow {
    position: relative;
    display: inline-block;
}

#img-shadow::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, rgba(10, 10, 35, 0.5), white);
    pointer-events: none;
    z-index: 1;
}
