@import "tailwindcss";



.landSection > h2 {
    @apply text-3xl font-bold mt-12 text-start
}

.landSection > p, .landSection li {
    @apply font-oswald text-start opacity-85
}

.drop-area-container {
    transition-property: height;
    transition-duration: 2s;
}

.game-instructions:last-child div{
    border: 3px solid red;
    border-radius: 0 0 12px 12px;
}

.drop-area-full {
    height: fit-content
}